* { 
    box-sizing: border-box; 
}

html, body { 
    height: 100%; 
}


body, h1, h2, h3, p, ul, ol, li, figure { 
    margin: 0; 
}

ul, ol { 
    padding-left: 50px; 
}

body {
    background: #b7e3af;
    flex-direction: column;
    color: #2f2929;
    font-family:'Courier New', Courier, monospace;

}

header{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background: rgba(76, 124, 93, 0.8);
    backdrop-filter: blur(6px);
    border-bottom: 1px dotted white;
    z-index: 999;
    display: block;
    margin-inline: auto;
}

header nav {
    max-width: 1000px; 
    margin: 0 auto; padding: 30px 40px;
}

.nav {
    display: flex; 
    gap: 50px;
    list-style: none; 
    margin: 0; 
    padding: 0;
}
.nav a {

    text-decoration: none; 
    padding: 15px 15px; 
    border-radius: 21px;
}
.nav a:hover, .nav a:focus-visible {
    outline: none;
    background: rgba(34, 91, 129, 0.3);
}

main.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    display: grid;
    gap: 65px;
    padding-top: 100px;
}

a {
    color: indigo;

}

a:hover{
    color: red;
}

a:visited {
    color: #24585b;
}

img{ 
    max-width: 50%; 
    height: auto; 
    border-radius: 25px; 
    border: 5px dotted #4c227e; 
    margin-inline: auto;   
    display: block;

}

.image-container {
    display: block;
}

form {
    background: #89ccf6; 
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 8px 19px rgba(81, 74, 146, 0.5);
}
label {
    margin-bottom: 13px;
    font-weight: bold;
    color: #252323;
}

#big-5-results {
    margin: 21px; 
    padding: 17px;
    border:5px dotted #4c227e; 
    border-radius: 21px; 
    background: #eece8a;
}



button {
    background: #1d4f33;
    color: #fafafa;
    padding: 16px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace
}

button:hover {
    background: #149595;
    color: #fefefe;
}

.actions {
    margin-top: 25px;
    display: block;
    margin-inline: auto;
}

#big-5-test .items {
  display: grid;
  gap: 18px;
}

#big-5-test .items li {
  background-color: #a6d8ed;
}

#examples-list {
  list-style: none;
  margin: 21px;
  padding: 7px;
  display: grid;
  gap: 18px;
}

.example-card {
  display: grid;
  grid-template-columns: 300px 1fr;  
  column-gap: 20px;
  align-items: start;
  background: #abd5eb;
  border: 2px dotted #15878d;
  border-radius: 18px;
  padding: 7px;
}

.example-card img {
  grid-column: 1;
  width: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px dotted #4c227e;
}

.example-card .personality-blurb {
  grid-column: 2;
  margin: 0;


}

.example-card .big-5-desc{
    font-weight: bold;
}

